.masthead {
  font-size: 1rem;
  font-family: "Ringside Regular SSm A", "Ringside Regular SSm B";
  font-style: normal;
  font-weight: 400;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

a {
  text-decoration: none;
  color: black;
}